<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger" id="fullscreen-button"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="javascript://" class="nav-link">
            <div class="nav-profile-image">
              <img src="./assets/images/faces/face1.jpg" alt="profile">
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">{{fullname}}</span>
              <span class="text-secondary text-small">Q4U user</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
          </a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/dashboard">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/queue-center">
            <span class="menu-title">แสดงคิวทั้งหมด</span>
            <i class="mdi mdi-animation-play menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/visit">
            <span class="menu-title">ทะเบียนผู้รับบริการ</span>
            <i class="mdi mdi-human-male-female menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" routerLink="/admin/departments">
            <span class="menu-title">แผนก</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" routerLink="/admin/service-point">
            <span class="menu-title">จุดให้บริการ</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" routerLink="/admin/priority">
            <span class="menu-title">ประเภทผู้ป่วย</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" routerLink="/admin/users">
            <span class="menu-title">ผู้ใช้งานระบบ</span>
            <i class="mdi mdi-account-group menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" routerLink="/admin/generate-token">
            <span class="menu-title">Generate token</span>
            <i class="mdi mdi-key menu-icon"></i>
          </a>
        </li>

        <div class="border-bottom"></div>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/display-queue">
            <span class="menu-title">แสดงคิว (ช่องบริการ)</span>
            <i class="mdi mdi-airplay menu-icon"></i>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/queue-center-patient">
            <span class="menu-title">แสดงคิว (ทั้งหมด)</span>
            <i class="mdi mdi-airplay menu-icon"></i>
          </a>
        </li>

        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/display-queue-department">
            <span class="menu-title">แสดงคิวรวมแผนก</span>
            <i class="mdi mdi-airplay menu-icon"></i>
          </a>
        </li> -->

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/queue-caller">
            <span class="menu-title">เรียกคิวห้องตรวจ</span>
            <i class="mdi mdi-cast menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/queue-caller-department">
            <span class="menu-title">เรียกคิวตามแผนก</span>
            <i class="mdi mdi-cast menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <router-outlet></router-outlet>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
              href="https://www.moph.go.th/" target="_blank">Ministry Of Public Health (MOPH)</a>. All rights
            reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made with <i
              class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>