<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <button class="navbar-toggler" (click)="toggleSidebar()" type="button" data-toggle="collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="mdi mdi-menu" *ngIf="!openSidebar"></i>
        <i class="mdi mdi-dots-vertical" *ngIf="openSidebar"></i>
      </button>
      <a class="navbar-brand brand-logo" href="javascript://" (click)="toggleHideSidebar()">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger" id="fullscreen-button"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav *ngIf="!hideSidebar" class="sidebar sidebar-offcanvas" [ngClass]="{'sidebar-show': openSidebar}" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="javascript://" class="nav-link">
            <div class="nav-profile-image">
              <img src="./assets/images/faces/face1.jpg" alt="profile">
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">{{fullname}}</span>
              <span class="text-secondary text-small">Q4U user</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/queue-center">
            <span class="menu-title">แสดงคิวทั้งหมด</span>
            <i class="mdi mdi-animation-play menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/visit">
            <span class="menu-title">ทะเบียนผู้รับบริการ</span>
            <i class="mdi mdi-human-male-female menu-icon"></i>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
          <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/generate-token">
            <span class="menu-title">Generate token</span>
            <i class="mdi mdi-key menu-icon"></i>
          </a>
        </li>

        <div class="border-bottom"></div>


        <li class="nav-item">
          <a class="nav-link" (click)="isCollapedCaller = !isCollapedCaller" data-toggle="collapse" href="javascript://"
            aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title font-weight-bold">เรียกคิว</span>
            <i class="mdi mdi-chevron-right menu-icon" *ngIf="isCollapedCaller"></i>
            <i class="mdi mdi-chevron-down menu-icon" *ngIf="!isCollapedCaller"></i>
          </a>
          <div [ngbCollapse]="isCollapedCaller" class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/queue-caller">
                  <span class="menu-title">เรียกคิวห้องตรวจ</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/admin/queue-caller-department">
                  <span class="menu-title">เรียกคิว (แผนก)</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/admin/queue-caller-group">
                  <span class="menu-title">เรียกคิว (กลุ่ม)</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="isCollapedDisplay = !isCollapedDisplay" data-toggle="collapse"
            href="javascript://" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title font-weight-bold">การแสดงคิว</span>
            <i class="mdi mdi-chevron-right menu-icon" *ngIf="isCollapedDisplay"></i>
            <i class="mdi mdi-chevron-down menu-icon" *ngIf="!isCollapedDisplay"></i>
          </a>
          <div [ngbCollapse]="isCollapedDisplay" class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/queue-center-patient">
                  <span class="menu-title">แสดงคิว (ทั้งหมด)</span>
                </a>
              </li>

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/display-queue">
                  <span class="menu-title">แสดงคิว (ห้องตรวจ)</span>
                </a>
              </li>

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/display-queue-department">
                  <span class="menu-title">แสดงคิว (แผนก)</span>
                </a>
              </li>

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/display-queue-group">
                  <span class="menu-title">แสดงคิว (กลุ่ม)</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <div class="border-bottom"></div>

        <li class="nav-item">
          <a class="nav-link" (click)="isCollapedSettings = !isCollapedSettings" data-toggle="collapse"
            href="javascript://" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title font-weight-bold">ตั้งค่าการใช้งาน</span>
            <i class="mdi mdi-chevron-right menu-icon" *ngIf="isCollapedSettings"></i>
            <i class="mdi mdi-chevron-down menu-icon" *ngIf="!isCollapedSettings"></i>
          </a>
          <div [ngbCollapse]="isCollapedSettings" class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/departments">
                  <span class="menu-title">แผนก</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false"
                  routerLink="/admin/service-point">
                  <span class="menu-title">จุดให้บริการ</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/priority">
                  <span class="menu-title">ประเภทผู้ป่วย</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/users">
                  <span class="menu-title">ผู้ใช้งานระบบ</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" *ngIf="userType === 'ADMIN'">
                <a class="nav-link" href="javascript://" (click)="openSidebar = false" routerLink="/admin/printer">
                  <span class="menu-title">ตั้งค่าเครื่องพิมพ์</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </nav>

    <!-- partial -->
    <div [ngClass]="{'main-panel': !hideSidebar || openSidebar,'main-panel2': hideSidebar}">
      <div class="content-wrapper">

        <router-outlet></router-outlet>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
              href="https://www.moph.go.th/" target="_blank">Ministry Of Public Health (MOPH)</a>. All rights
            reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made with <i
              class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
