<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">เพิ่มข้อมูลแผนก (จุดให้บริการ)</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="departmentName" class="required">ชื่อแผนก</label>
              <input type="text" class="form-control" maxlength="50" name="departmentName" [(ngModel)]="departmentName"
                id="departmentName">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="prefix" class="required">PREFIX</label>
              <input type="text" class="form-control" maxlength="1" name="prefix" [(ngModel)]="prefix" id="prefix">
            </div>
            <div class="form-group col-md-6">
              <label for="hisDepCode" class="required">HIS DEPCODE</label>
              <input type="text" class="form-control" maxlength="10" name="hisDepCode" [(ngModel)]="hisDepCode"
                id="hisDepCode">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-check col-md-12">
              <input type="checkbox" class="form-check-input" id="isActive" name="isActive" [(ngModel)]="isActive">
              <label class="form-check-label" for="isActive">ใช้งาน</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">บันทึก</button>
    <button type="button" class="btn btn-outline-danger" (click)="dismiss()">ยกเลิก</button>
  </div>
</ng-template>
