<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0" [ngClass]="{'hide': hide}">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" href="javascript://" routerLink="/admin">
            <i class="mdi mdi-home text-success"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" appToggleFullscreen (click)="hide = true" href="javascript://">
            <i class="mdi mdi-fullscreen text-primary"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper" style="padding: 1rem 2.25rem">
        <div [ngClass]="{'hide': !hide}" style="text-align: right;font-size: 1rem">
          <a href="javascript://" routerLink="/admin">
            <i class="mdi mdi-home text-success"></i>
          </a>
          <a appToggleFullscreen (click)="hide = false" href="javascript://">
            <i class="mdi mdi-fullscreen text-primary"></i>
          </a>
          <a (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger"></i>
          </a>
        </div>
        <div class="card card-inverse-danger" *ngIf="isOffline">
          <div class="card-body">
            <p class="mb-4">
              เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
            </p>
            <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
                <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()"
                  (notify)="onNotify($event)"></countdown>
              </strong>)</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="card bg-primary text-white">
              <!-- <div class="card-header" style="font-size: 3rem;" class="font-weight-normal">ประวัติการเรียก</div> -->
              <div class="card-body" style="padding: 1rem 2.5rem">
                <div class="row">
                  <div class="col-md-6 font-weight-bold" style="font-size: 3rem;">หมายเลข</div>
                  <div class="col-md-6 font-weight-bold" style="font-size: 3rem; text-align: right">ห้องตรวจ</div>
                </div>

                <div *ngFor="let item of workingItemsHistory">
                  <div class="row">
                    <div class="col-md-9">
                      <span class="font-weight-bold" style="letter-spacing: 1px; font-size: 7rem;">
                        {{ item.queue_number || '-'}}
                      </span>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <span class="font-weight-bold" style="font-size: 7rem; color:yellow">
                        {{ item.room_number || '-' }}
                      </span>
                    </div>
                  </div>
                  <hr style="margin:0;border-top-width: 4px;" color="white" noshade="noshade">
                </div>

                <!-- <table class="table">
                  <thead>
                    <tr>
                      <th><span class="h1 font-weight-bold">ลำดับที่</span></th>
                      <th><span class="h1 font-weight-bold">ช่องบริการ</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="!workingItemsHistory.length">
                      <td colspan="3">กรุณาเลือกจุดบริการ</td>
                    </tr>
                    <tr *ngFor="let item of workingItemsHistory">
                      <td>
                        <label style="font-size: 6rem; letter-spacing: 2px;"
                          class="font-weight-bold">{{item.queue_number}}</label>
                      </td>
                      <td style="text-align: right;">
                        <label style="font-size: 6rem; color: yellow;"
                          class="font-weight-bold">{{item.room_number}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
          <div class="col-md-7">

            <div class="card bg-primary card-img-holder text-white">

              <div class="card-body" style="padding: 1rem 2.5rem">
                <div style="font-size: 3rem;" class="font-weight-normal">
                  <div class="row">
                    <div class="col-md-6 font-weight-bold">ลำดับที่</div>
                    <div class="col-md-6 font-weight-bold" style="text-align: right">ช่องบริการ</div>
                  </div>
                </div>
                <div *ngFor="let item of workingItems">
                  <div class="row">
                    <div class="col-md-9">
                      <span class="font-weight-bold" style="font-size: 10rem;">{{
                        item.queue_number
                        || '-'}}</span>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <span class="font-weight-bold" style="font-size: 10rem; color:yellow">{{item.room_number
                        || '-'}}</span>
                    </div>
                  </div>
                  <hr style="margin:0;border-top-width: 4px;" color="white" noshade="noshade">
                </div>
              </div>
              <div class="card-footer">
                <div class="float-left">
                  <i style="cursor: pointer;" *ngIf="isSound" (click)="toggleSound()"
                    class="h2 text-warning float-right mdi mdi-bell-ring"></i>
                  <i style="cursor: pointer;" *ngIf="!isSound" (click)="toggleSound()"
                    class="h2 text-muted float-right mdi mdi-bell-off"></i>
                </div>
                <div class="float-right">
                  <span class="h2 text-white font-weight-bold" style="cursor: pointer" (click)="selectServicePoint()">{{servicePointName
                    || 'กรุณาเลือกจุดบริการ'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>


<app-modal-select-servicepoints (onSelected)="onSelectedPoint($event)" #mdlServicePoint>
</app-modal-select-servicepoints>
