<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <span class="h1 text-primary font-weight-bold">{{servicePointName || 'กรุณาเลือกจุดบริการ'}}</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" href="javascript://" (click)="selectServicePoint()">
            <i class="mdi mdi-refresh text-success"></i> <span style="font-size: 1.4rem;">เปลี่ยนจุดบริการ</span>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">

      <ul class="nav">

        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav-profile-image">
              <img src="./assets/images/faces/face1.jpg" alt="profile">
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">David Grey. H</span>
              <span class="text-secondary text-small">Project Manager</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/dashboard">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/visit">
            <span class="menu-title">ทะเบียนผู้รับบริการ</span>
            <i class="mdi mdi-human-male-female menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/service-point">
            <span class="menu-title">จุดให้บริการ</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/admin/users">
            <span class="menu-title">ผู้ใช้งานระบบ</span>
            <i class="mdi mdi-account-group menu-icon"></i>
          </a>
        </li>

        <div class="border-bottom"></div>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/display-queue">
            <span class="menu-title">แสดงคิวรายแผนก</span>
            <i class="mdi mdi-airplay menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/queue-center">
            <span class="menu-title">แสดงคิวทั้งหมด</span>
            <i class="mdi mdi-animation-play menu-icon"></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="javascript://" routerLink="/queue-caller">
            <span class="menu-title">เรียกคิวห้องตรวจ</span>
            <i class="mdi mdi-cast menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
              <i class="mdi mdi-cast"></i>
            </span>
            เรียกคิวเข้าห้องตรวจ
          </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript://" routerLink="/admin/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">เรียกคิวเข้าห้องตรวจ</li>
            </ol>
          </nav>
        </div>
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="h3">กำลังตรวจ
                <label class="badge badge-danger">
                  <span class="h3 font-weight-bold">{{workingItems.length || 0}}</span>
                </label>
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">รายการคิว</h4> -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ช่องบริการ</th>
                        <th>HN</th>
                        <th>ชื่อ - สกุล</th>
                        <th>ความสำคัญ</th>
                        <th>คิวปัจจุบัน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="workingItems.length === 0">
                        <td colspan="5">ไม่พบรายการ</td>
                      </tr>
                      <tr *ngFor="let item of workingItems">
                        <td>
                          <button (click)="setChangeRoom(item)" class="btn btn-sm btn-success" [ngbPopover]="popContentChangeRoom"
                            popoverTitle="เปลี่ยนช่องบริการ">
                            <span class="h4">
                              ช่องบริการ {{item.room_number}} - {{item.room_name}}
                            </span>
                          </button>
                        </td>
                        <td>
                          <span class="h4">{{item.hn}}</span>
                        </td>
                        <td>
                          <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
                        </td>
                        <td>
                          <span class="h4">{{item.priority_name}}</span>
                        </td>
                        <td>
                          <span class="h3 font-weight-bold text-danger" style="letter-spacing: 5px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="h3">
                รอเรียก
                <label class="badge badge-danger">
                  <span class="h3 font-weight-bold">{{waitingItems.length || 0}}</span>
                </label>
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">รายการคิว</h4> -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>HN</th>
                        <th>เวลา</th>
                        <th>ชื่อ - สกุล</th>
                        <th>ความสำคัญ</th>
                        <th>คิวตรวจ</th>
                        <th>#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="waitingItems.length === 0">
                        <td colspan="6">ไม่พบรายการ</td>
                      </tr>
                      <tr *ngFor="let item of waitingItems">

                        <td>
                          <span class="h3-x">{{item.hn}}</span>
                        </td>
                        <td>
                          <span class="h3-x">{{item.time_serv}}</span>
                        </td>
                        <td>
                          <span class="h3-x">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
                        </td>
                        <td>
                          <span class="h3-x">{{item.priority_name}}</span>
                        </td>
                        <td>
                          <label class="badge badge-danger" style="width: 100px;">
                            <span class="h3-x font-weight-bold" style="letter-spacing: 5px;">{{item.queue_number}}</span>
                          </label>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-gradient-success" (click)="setQueueForCall(item)" [ngbPopover]="popContent"
                            popoverTitle="เลือกช่องรับบริการ">
                            <span class="h4">
                              เรียกคิว
                              <i class="mdi mdi-send"></i>
                            </span>
                          </button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>

    </div>
    <!-- main-panel ends -->
  </div>

</div>

<ng-template #popContent>
  <div class="text-center">
    <button *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw"
      (click)="doCallQueue(room.room_id)">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>

<ng-template #popContentChangeRoom>
  <div class="text-center">
    <button (click)="doChangeRoom(room)" *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>

<app-modal-select-servicepoints (onSelected)="onSelectedPoint($event)" #mdlServicePoint></app-modal-select-servicepoints>
