<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">เลือกจุดให้บริการ</h3>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">

        <table class="table">
          <thead>
            <tr>
              <th>จุดให้บริการ</th>
              <th style="width: 50px;">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let point of points">
              <td>{{point.local_code}} - {{point.service_point_name}}</td>
              <td>
                <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="setSelected(point)">
                  <i class="mdi mdi-refresh"></i> เปลี่ยน
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="save()">บันทึก</button> -->
    <button type="button" class="btn btn-outline-danger" (click)="dismiss()">ปิดหน้าต่าง</button>
  </div>
</ng-template>
