<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ประเภทผู้ป่วย</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="priorityName" class="required">ประเภทผู้ป่วย</label>
              <input type="text" name="priorityName" id="priorityName" class="form-control" name="priorityName"
                [(ngModel)]="priorityName">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="priorityPrefix" class="required">PREFIX</label>
              <select class="form-control" name="priorityPrefix" [(ngModel)]="priorityPrefix">
                <option value="" selected>เลือก</option>
                <option *ngFor="let item of prefixes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="priorityOrder" class="required">ลำดับ</label>
              <input type="text" name="priorityOrder" id="priorityOrder" class="form-control" name="priorityOrder"
                [(ngModel)]="priorityOrder">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">บันทึก</button>
    <button type="button" class="btn btn-outline-danger" (click)="dismiss()">ยกเลิก</button>
  </div>
</ng-template>
