<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" href="javascript://" routerLink="/admin">
            <i class="mdi mdi-home text-success"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" appToggleFullscreen href="javascript://">
            <i class="mdi mdi-fullscreen text-primary"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <!-- <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="mr-2 ml-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span class="h1">คิว</span></th>
              <th><span class="h1">ช่อง</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!workingItems.length">
              <td colspan="2">กรุณาเลือกจุดบริการ</td>
            </tr>
            <tr *ngFor="let item of workingItems">
              <td style="text-align: center;">
                <label style="font-size: 3.5rem; letter-spacing: 5px;" class="font-weight-bold">{{item.queue_number}}</label>
              </td>
              <td style="text-align: center;">
                <label style="font-size: 3.5rem;" class="font-weight-bold">{{item.room_number}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav> -->
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="card card-inverse-danger" *ngIf="isOffline">
          <div class="card-body">
            <p class="mb-4">
              เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
            </p>
            <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
                <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()"
                  (notify)="onNotify($event)"></countdown>
              </strong>)</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="card bg-primary text-white">
              <table class="table">
                <thead>
                  <tr>
                    <th><span class="h1 font-weight-bold">ลำดับที่</span></th>
                    <th style="text-align: right;"><span class="h1 font-weight-bold">ช่องบริการ</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!workingItems.length">
                    <td colspan="3" style="font-size: 3rem;">กรุณาเลือกจุดบริการ</td>
                  </tr>
                  <tr *ngFor="let item of workingItems"
                    [ngClass]="{'invalid-blink': item.queue_number===currentQueueNumber,'bg-primary':item.queue_number!==currentQueueNumber}">
                    <td>
                      <label style="font-size: 6rem; letter-spacing: 2px;"
                        class="font-weight-bold">{{item.queue_number}}</label>
                    </td>
                    <td style="text-align: right;">
                      <label style="font-size: 6rem;" class="font-weight-bold">{{item.room_number}}</label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="col-md-7">

            <div class="card bg-primary card-img-holder text-white">

              <div class="card-body">
                <div style="font-size: 3rem;" class="font-weight-bold">ลำดับที่</div>
                <span class="font-weight-bold" style="letter-spacing: 12px; font-size: 11rem;">{{currentQueueNumber
                  || '-'}}</span>
                <!-- <h1 class="card-text">HN: {{currentHn || '-'}}</h1> -->
                <div style="font-size: 3rem;" class="font-weight-bold">ช่องบริการ</div>
                <span class="font-weight-bold" style="letter-spacing: 12px; font-size: 11rem;">{{currentRoomNumber
                  || '-'}}</span>
                <div style="font-size: 3rem;" class="card-text">{{currentRoomName || '-'}}</div>
              </div>

              <div class="card-footer">
                <div class="float-left">
                  <i style="cursor: pointer;" *ngIf="isSound" (click)="toggleSound()"
                    class="h2 text-warning float-right mdi mdi-bell-ring"></i>
                  <i style="cursor: pointer;" *ngIf="!isSound" (click)="toggleSound()"
                    class="h2 text-muted float-right mdi mdi-bell-off"></i>
                </div>
                <div class="float-right">
                  <span class="h2 text-white font-weight-bold" style="cursor: pointer" (click)="selectDepartment()">{{departmentName
                    || 'กรุณาเลือกแผนก'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>


<app-modal-select-department (onSelected)="onSelectDepartment($event)" #mdlServicePoint>
</app-modal-select-department>
