<div class="page-header">
  <h3 class="page-title">
    ผู้ใช้งานระบบ
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript://" routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">ผู้ใช้งานระบบ</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <button (click)="openRegister()" class="float-right btn-lg btn btn-sm btn-gradient-success"> <i class="mdi mdi-plus"></i>
              เพิ่มผู้ใช้งาน
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ชื่อผู้ใช้งาน</th>
              <th>ชื่อ - สกุล</th>
              <th>ประเภท</th>
              <th>สถานะ</th>
              <th style="width: 150px;">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!items.length">
              <td colspan="5">ไม่พบรายการ</td>
            </tr>
            <tr *ngFor="let item of items">
              <td>{{item.username}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.user_type}}</td>
              <td>
                <i class="mdi mdi-check text-success" *ngIf="item.is_active === 'Y'"></i>
                <i class="mdi mdi-close text-danger" *ngIf="item.is_active === 'N'"></i>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="openEdit(item)">
                    <i class="mdi mdi-pencil"></i> แก้ไข
                  </button>
                  <button class="btn btn-sm btn-gradient-primary" (click)="openServicePoints(item)">
                    <i class="mdi mdi-delete-outline"></i> จุดบริการ
                  </button>
                  <button class="btn btn-sm btn-gradient-danger" (click)="remove(item)">
                    <i class="mdi mdi-delete-outline"></i> ลบ
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal-add-user #mdlUser (onSave)="onSave($event)"></app-modal-add-user>
<app-modal-user-service-points [userId]="userId" [userName]="userName" #mdlUserServicePoints (onSave)="onSaveServicePoints($event)"></app-modal-user-service-points>
