<!-- <div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb"> -->
<!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
<!-- <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
</div> -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">รายการคิว</h4>
    <p class="card-description">
      จำนวนคิวและสถานะคิวในปัจจุบัน
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>คลินิก (แผนก)</th>
          <th>ช่องบริการ</th>
          <th>จำนวนรอคิว</th>
          <th>คิวปัจจุบัน</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">แผนกผู้ป่วยนอก</th>
          <td>ห้องตรวจ 1</td>
          <td>
            <h4>245</h4>
          </td>
          <td><label class="badge badge-gradient-danger">
              <h4>43</h4>
            </label></td>
        </tr>
        <tr>
          <th scope="row">ห้องฟัน</th>
          <td>ห้องตรวจ 1</td>
          <td>
            <h4>530</h4>
          </td>
          <td><label class="badge badge-gradient-success">
              <h4>22</h4>
            </label></td>
        </tr>
        <tr>
          <th scope="row">แพทย์แผนไทข</th>
          <td>ห้องตรวจ 1</td>
          <td>
            <h4>190</h4>
          </td>
          <td><label class="badge badge-gradient-success">
              <h4>45</h4>
            </label></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
