<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <img src="./assets/images/h4u.png" style="margin-right: 10px;" width="50" height="50" alt="logo" />
      <span class="font-weight-bold" style="font-size: 2rem;">โรงพยาบาลเขื่องใน</span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <span class="h1 text-primary font-weight-bold">คิวผู้มารับบริการ</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-home text-success" routerLink="/admin"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen text-success" id="fullscreen-button"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">

      <div class="row" style="padding: 0 0.2rem 0.2rem 0.2rem;">
        <div class="col-md-12 stretch-card grid-margin">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">คิวที่กำลังให้บริการ</th>
              </tr>
              <tr>
                <th><strong>แผนกให้บริการ</strong></th>
                <th><strong>คิวปัจจุบัน</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ผู้ป่วยนอก</td>
                <td>
                  <label class="badge badge-danger">
                    <span class="h4 font-weight-bold" style="letter-spacing: 3px;">A312</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>ทันตกรรม</td>
                <td>
                  <label class="badge badge-danger">
                    <span class="h4 font-weight-bold" style="letter-spacing: 3px;">A402</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>แพทย์แผนไทย</td>
                <td>
                  <label class="badge badge-danger">
                    <span class="h4 font-weight-bold" style="letter-spacing: 3px;">A335</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>กายภาพบำบัด</td>
                <td>
                  <label class="badge badge-danger">
                    <span class="h4 font-weight-bold" style="letter-spacing: 3px;">C102</span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="card">
          <div class="card-body">
            <!-- <h4 class="card-title">รายการคิว</h4> -->
            <table class="table">
              <thead>
                <tr>
                  <th><strong>คิวปัจจุบัน</strong></th>
                  <th><strong>แผนกให้บริการ</strong></th>
                  <th><strong>ชื่อ - สกุล</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <button class="btn btn-rounded btn-sm btn-gradient-primary">
                      <span class="h3 font-weight-bold" style="letter-spacing: 3px;">B410</span>
                    </button>
                  </td>
                  <td>
                    <span class="h3">แพทย์แผนไทย</span>
                  </td>

                  <td>
                    <span class="h3">นายสุรชัย ศรีอาราม</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-rounded btn-sm btn-gradient-info">
                      <span class="h3 font-weight-bold" style="letter-spacing: 3px;">B310</span>
                    </button>
                  </td>
                  <td>
                    <span class="h3">กายภาพบำบัด</span>
                  </td>

                  <td>
                    <span class="h3">นายสถิตย์ เรียนพิศ</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-rounded btn-sm btn-gradient-danger">
                      <span class="h3 font-weight-bold" style="letter-spacing: 3px;">C310</span>
                    </button>
                  </td>
                  <td>
                    <span class="h3">ทันตกรรม</span>
                  </td>

                  <td>
                    <span class="h3">นางพรมณี จิตใจดี</span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
    <!-- main-panel ends -->
  </div>

  <!-- page-body-wrapper ends -->
</div>
