<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <span class="h1 text-primary font-weight-bold">คิวผู้มารับบริการ</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-home text-success" routerLink="/admin"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen text-success" id="fullscreen-button"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">

      <div class="row" style="padding: 0 0.2rem 0.2rem 0.2rem;">
        <div class="col-md-12 stretch-card grid-margin">
          <table class="table">
            <thead>
              <!-- <tr>
                <th colspan="2">คิวที่กำลังให้บริการ</th>
              </tr> -->
              <tr>
                <th><strong>แผนกให้บริการ</strong></th>
                <th><strong>คิวทั้งหมด</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ผู้ป่วยนอก</td>
                <td>
                  <button class="btn btn-rounded btn-sm btn-gradient-success">
                    <span class="h3 font-weight-bold" style="letter-spacing: 3px;">210</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>ทันตกรรม</td>
                <td>
                  <button class="btn btn-rounded btn-sm btn-gradient-success">
                    <span class="h3 font-weight-bold" style="letter-spacing: 3px;">110</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>แพทย์แผนไทย</td>
                <td>
                  <button class="btn btn-rounded btn-sm btn-gradient-success">
                    <span class="h3 font-weight-bold" style="letter-spacing: 3px;">124</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>กายภาพบำบัด</td>
                <td>
                  <button class="btn btn-rounded btn-sm btn-gradient-success">
                    <span class="h3 font-weight-bold" style="letter-spacing: 3px;">410</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="card">
          <div class="card-body">
            <!-- <h4 class="card-title">รายการคิว</h4> -->
            <table class="table">
              <thead>
                <tr>
                  <th><strong>จุดให้บริการ</strong></th>
                  <th><strong>ช่องบริการ</strong></th>
                  <th><strong>คิวปัจจุบัน</strong></th>
                  <th><strong>HN, ชื่อ - สกุล</strong></th>
                  <th><strong>อัปเดท</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="h4 font-weight-bold">แพทย์แผนไทย</span>
                  </td>
                  <td>
                    <span class="h4">1 - ห้องตรวจพิเศษ</span>
                  </td>
                  <td>
                    <span class="h3 font-weight-bold text-danger" style="letter-spacing: 3px;">B410</span>
                  </td>
                  <td>
                    <span class="h4 font-weight-bold">HN: 0041223 - นายสุรชัย ศรีอาราม</span>
                  </td>

                  <td>
                    <span class="h4">13:00:54</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
    <!-- main-panel ends -->
  </div>

  <!-- page-body-wrapper ends -->
</div>
