<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript://">
        <img style="width: 40px; height: 40px;" src="./assets/images/iconQ4U100.png" alt=""></a>
      <span class="font-weight-bold" style="font-size: 1.5rem;">
        ระบบคิวออนไลน์
      </span>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" href="javascript://" routerLink="/admin">
            <i class="mdi mdi-home text-success"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link" (click)="logout()" href="javascript://">
            <i class="mdi mdi-power text-danger"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="mr-2 ml-2">
        <table class="table">
          <thead>
            <tr>
              <th><span class="h1">คิว</span></th>
              <th><span class="h1">ช่อง</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!workingItems.length">
              <td colspan="2">กรุณาเลือกจุดบริการ</td>
            </tr>
            <tr *ngFor="let item of workingItems">
              <td style="text-align: center;">
                <label style="font-size: 3.5rem; letter-spacing: 5px;" class="badge badge-danger font-weight-bold">{{item.queue_number}}</label>
              </td>
              <td style="text-align: center;">
                <label style="font-size: 3.5rem;" class="badge badge-success font-weight-bold">{{item.room_number}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="card card-inverse-danger" *ngIf="isOffline">
          <div class="card-body">
            <p class="mb-4">
              เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
            </p>
            <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
                <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()" (notify)="onNotify($event)"></countdown>
              </strong>)</button>
          </div>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <span class="h1 text-primary font-weight-bold">{{servicePointName || 'กรุณาเลือกจุดบริการ'}}</span>
              &nbsp; | &nbsp;
              <a href="javascript://" (click)="selectServicePoint()">
                <span style="font-size: 1.4rem;">เปลี่ยนจุดบริการ</span>
              </a>
            </li>
          </ol>
        </nav>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">คิวที่เรียกปัจจุบัน</h1>
            <div class="row">
              <div class="col-md-8 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="./assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h1 class="font-weight-normal mb-2">คิวบริการ
                      <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h1>
                    <!-- <h2 class="mb-5">$ 15,0000</h2> -->
                    <span class="font-weight-bold mb-5" style="letter-spacing: 20px; font-size: 10rem;">{{currentQueueNumber
                      || '-'}}</span>
                    <h1 class="card-text">HN: {{currentHn || '-'}}</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="./assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h1 class="font-weight-normal mb-3">ช่องบริการ
                      <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h1>
                    <span class="font-weight-bold mb-5" style="letter-spacing: 20px; font-size: 10rem;">{{currentRoomNumber
                      || '-'}}</span>
                    <h1 class="card-text">{{currentRoomName || '-'}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.moph.go.th/"
              target="_blank">Ministry Of Public Health (MOPH)</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>


<app-modal-select-servicepoints (onSelected)="onSelectedPoint($event)" #mdlServicePoint></app-modal-select-servicepoints>
