<app-alert-warning-printer></app-alert-warning-printer>
<div class="card card-inverse-danger" *ngIf="isOffline">
  <div class="card-body">
    <p class="mb-4">
      เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
    </p>
    <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
        <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()" (notify)="onNotify($event)">
        </countdown>
      </strong>)</button>
  </div>
</div>
<!-- <button class="btn btn-primary" (click)="playSound()">Play</button> -->
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-cast"></i>
    </span>
    เรียกคิวเข้าห้องตรวจ
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span class="h1 text-primary font-weight-bold">{{servicePointName || 'กรุณาเลือกจุดบริการ'}}</span>
        &nbsp; | &nbsp;
        <a href="javascript://" (click)="selectServicePoint()">
          <span style="font-size: 1.4rem;">เปลี่ยนจุดบริการ</span>
        </a>
      </li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-6" style="padding-left:10px;padding-right:5px;padding-top:1px;">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12" style="margin:0px;">
            <span class="h3">
              รายการคิวรอเรียกเข้ารับบริการ
              <label class="badge badge-danger">
                <span class="h4 font-weight-bold">{{total || 0}}</span>
              </label>
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="card-title" style="margin-top:10px;margin-bottom:0;">
        <div class="row" style="vertical-align: middle;padding-left:10px;">
          <div class="col-md-7" style="text-align: center">
            <button *ngIf="rooms.length > 1" class="btn btn-sm btn-success" (click)="setQueueForCallGroup(2)"
              [ngbPopover]="popContentGroup" placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1" class="btn btn-sm btn-success" (click)="setCallDetailGroup(2)">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>
            <button disabled="disabled" *ngIf="rooms.length === 0" class="btn btn-sm btn-success">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>

            <button *ngIf="rooms.length > 1" class="btn btn-sm btn-warning" (click)="setQueueForCallGroup(3)"
              [ngbPopover]="popContentGroup" placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1" class="btn btn-sm btn-warning" (click)="setCallDetailGroup(3)">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>
            <button disabled="disabled" *ngIf="rooms.length === 0" class="btn btn-sm btn-warning">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>

            <button *ngIf="rooms.length > 1" class="btn btn-sm btn-info" (click)="setQueueForCallGroup(5)" [ngbPopover]="popContentGroup"
              placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1" class="btn btn-sm btn-info" (click)="setCallDetailGroup(5)">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>
            <button disabled="disabled" *ngIf="rooms.length === 0" class="btn btn-sm btn-info">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>

          </div>
        </div>
      </div> -->
      <div class="card-body" style="padding-left:5px;padding-right:5px;padding-top: 10px;">

        <div class="row">

          <div class="col-md-1" style="vertical-align: middle;text-align: right;padding-right: 0%;">
            <span>ค้นหา</span>
          </div>
          <div class="col-md-4" style="padding-right: 0%; padding-left: 5px;">
            <input [disabled]="!servicePointId" type="text" class="form-control" [(ngModel)]="queryWaiting" name="queryWaiting"
              (keyup)="searchQueryWaiting()">
          </div>
          <div class="col-md-7" style="padding-left: 0%; text-align: right">
            <button *ngIf=" rooms.length <= 5 && rooms.length > 1 && waitingItems.length" class="btn btn-sm btn-success" (click)="setQueueForCallGroup(2)"
              [ngbPopover]="popContentGroup" placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1 && waitingItems.length" class="btn btn-sm btn-success" (click)="setCallDetailGroup(2)">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>
            <button *ngIf="rooms.length > 5 && waitingItems.length" class="btn btn-sm btn-success" (click)="openModalSelectRoom(2)">
                <span class="h4">
                  เรียก 2 คิว
                </span>
              </button>
            <button disabled="disabled" *ngIf="rooms.length === 0 || !waitingItems.length" class="btn btn-sm btn-success">
              <span class="h4">
                เรียก 2 คิว
              </span>
            </button>

            <button *ngIf=" rooms.length <= 5 && rooms.length > 1  && waitingItems.length" class="btn btn-sm btn-warning" (click)="setQueueForCallGroup(3)"
              [ngbPopover]="popContentGroup" placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1  && waitingItems.length" class="btn btn-sm btn-warning" (click)="setCallDetailGroup(3)">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>
            <button *ngIf="rooms.length > 5 && waitingItems.length" class="btn btn-sm btn-warning" (click)="openModalSelectRoom(3)">
                <span class="h4">
                  เรียก 3 คิว
                </span>
              </button>
            <button disabled="disabled" *ngIf="rooms.length === 0 || !waitingItems.length" class="btn btn-sm btn-warning">
              <span class="h4">
                เรียก 3 คิว
              </span>
            </button>

            <button *ngIf="rooms.length <= 5 && rooms.length > 1  && waitingItems.length" class="btn btn-sm btn-info" (click)="setQueueForCallGroup(5)"
              [ngbPopover]="popContentGroup" placement="bottom" popoverTitle="เลือกช่องรับบริการ">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>
            <button *ngIf="rooms.length === 1  && waitingItems.length" class="btn btn-sm btn-info" (click)="setCallDetailGroup(5)">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>
            <button *ngIf="rooms.length > 5 && waitingItems.length" class="btn btn-sm btn-info" (click)="openModalSelectRoom(5)">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>
            <button disabled="disabled" *ngIf="rooms.length === 0 || !waitingItems.length" class="btn btn-sm btn-info">
              <span class="h4">
                เรียก 5 คิว
              </span>
            </button>


          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ชื่อ - สกุล</th>
              <th>ความสำคัญ</th>
              <th>คิวตรวจ</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="waitingItems.length === 0">
              <td colspan="6">ไม่พบรายการ</td>
            </tr>
            <tr *ngFor="let item of waitingItems">
              <td>
                <span class="h3-x">{{item.title}}{{item.first_name}} {{item.last_name}}</span>
              </td>
              <td>
                <span class="h3-x">{{item.priority_name}}</span>
              </td>
              <td>
                <span class="h3 font-weight-bold text-danger" style="letter-spacing: 2px;">{{item.queue_number}}</span>
              </td>
              <!-- <td>
                      <label class="badge badge-primary">
                        <span class="h3-x font-weight-bold" style="letter-spacing: 2px;">{{item.queue_id}}</span>
                      </label>
                    </td>
                    <td>
                      <span *ngIf="item.is_interview === 'Y'" class="mdi mdi-check text-success"></span>
                      <span *ngIf="item.is_interview === 'N' || !item.is_interview"
                        class="mdi mdi-close text-danger"></span>
                    </td> -->
              <td>
                <div class="btn-group">
                  <!-- <button *ngIf="rooms.length > 1" class="btn btn-sm btn-primary" (click)="setQueueForCall(item)"
                          [ngbPopover]="popContentInterview" popoverTitle="เลือกจุดซักประวัติ">
                          <span class="h4">
                            ซักประวัติ
                          </span>
                        </button> -->
                  <!-- <button *ngIf="rooms.length === 1" class="btn btn-sm btn-primary" (click)="setCallDetail(item)"
                          [ngbPopover]="popContentInterview" popoverTitle="เลือกจุดซักประวัติ">
                          <span class="h4">
                            ซักประวัติ
                          </span>
                        </button> -->
                  <button *ngIf="rooms.length > 1" class="btn btn-sm btn-success" (click)="setQueueForCall(item)"
                    [ngbPopover]="popContent" popoverTitle="เลือกช่องรับบริการ">
                    <span class="h4">
                      เรียกคิว
                    </span>
                  </button>
                  <button *ngIf="rooms.length === 1" class="btn btn-sm btn-success" (click)="setCallDetail(item)">
                    <span class="h4">
                      เรียกคิว
                    </span>
                  </button>
                  <button disabled="disabled" *ngIf="rooms.length === 0" class="btn btn-sm btn-success">
                    <span class="h4">
                      เรียกคิว
                    </span>
                  </button>
                  <!-- <button class="btn btn-sm btn-danger" (click)="cancelQueue(item)">
                          <span class="h4">
                            ยกเลิก
                          </span>
                        </button> -->
                </div>

              </td>
            </tr>

          </tbody>
        </table>


        <div *ngIf="waitingItems.length" style="padding-top: 25px;">
          <ngb-pagination class="d-flex justify-content-center" [rotate]="true" [collectionSize]="total" [maxSize]="maxSizePage"
            [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onPageChange($event)" [(page)]="currentPage"
            aria-label="pagination"></ngb-pagination>
        </div>

      </div>
    </div>
    <!-- </ng-template> -->
  </div>
  <div class="col-md-6" style="padding-left:5px;padding-right:10px;padding-top:1px;">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12" style="margin:0px;">
            <span class="h3" style="padding-left:10px;">คิวที่กำลังเรียก
              <!-- <label class="badge badge-danger">
                <span class="h3 font-weight-bold">{{historyItems.length || 0}}</span>
              </label> -->
            </span>
          </div>
        </div>
      </div>

      <div class="card-body" style="padding-left:5px;padding-right:5px;">
        <table class="table">
          <thead>
            <tr>
              <th>ช่องบริการ</th>
              <th>ชื่อ - สกุล</th>
              <th>ความสำคัญ</th>
              <th>คิวปัจจุบัน</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="workingItems.length === 0">
              <td colspan="5">ไม่พบรายการ</td>
            </tr>
            <tr *ngFor="let item of workingItems">
              <td>
                <button (click)="setChangeRoom(item)" class="btn btn-sm btn-success" [ngbPopover]="popContentChangeRoom"
                  popoverTitle="เปลี่ยนช่องบริการ">
                  <span class="h4">
                    {{item.room_number}}
                  </span>
                </button>
              </td>
              <td>
                <span class="h4">{{item.hn}}</span>
              </td>
              <td>
                <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
              </td>
              <td>
                <span class="h4">{{item.priority_name}}</span>
              </td>
              <td>
                <span class="h3 font-weight-bold text-danger" style="letter-spacing: 2px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-success" (click)="callAgain(item)">เรียกซ้ำ</button>
                  <button class="btn btn-sm btn-danger" (click)="showSelectPointForMarkPending(item)">พัก/ส่งต่อ</button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>
  <div class="col-md-12" style="padding-left:5px;padding-right:10px;padding-top:10px;">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12" style="margin:0px;">
            <span class="h3" style="padding-left:10px;">คิวที่ถูกเรียกไปแล้ว
              <label class="badge badge-danger">
                <span class="h4 font-weight-bold">{{historyTotal || 0}}</span>
              </label>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body" style="">
        <div class="row">
          <div class="col-md-2" style="vertical-align: middle;text-align: right">
            <span>ค้นหา :</span>
          </div>
          <div class="col-md-5" style="padding-left:0;">
            <input [disabled]="!servicePointId" type="text" class="form-control" [(ngModel)]="queryHistory" name="queryHistory"
              (keyup)="searchQueryHistory()">
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ช่องบริการ</th>
              <th>HN</th>
              <th>ชื่อ - สกุล</th>
              <th>ความสำคัญ</th>
              <th>คิวปัจจุบัน</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="historyItems.length === 0">
              <td colspan="5">ไม่พบรายการ</td>
            </tr>
            <tr *ngFor="let item of historyItems">
              <td>
                <!-- <button (click)="setChangeRoom(item)" class="btn btn-sm btn-success" [ngbPopover]="popContentChangeRoom"
                  popoverTitle="เปลี่ยนช่องบริการ"> -->
                <span class="h3 btn btn-sm btn-success">
                  {{item.room_number}}
                </span>
                <!-- </button> -->
              </td>
              <td>
                <span class="h4">{{item.hn}}</span>
              </td>
              <td>
                <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
              </td>
              <td>
                <span class="h4">{{item.priority_name}}</span>
              </td>
              <td>
                <span class="h3 font-weight-bold text-danger" style="letter-spacing: 2px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-success" (click)="callAgains(item)">เรียกซ้ำ</button>
                  <button class="btn btn-sm btn-danger" (click)="showSelectPointForMarkPending(item)">พัก/ส่งต่อ</button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>




<ng-template #popContent>
  <div class="text-center">
    <button *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw"
      (click)="prepareQueue(room)">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>
<ng-template #popContentGroup>
  <div class="text-center">
    <button *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw"
      (click)="prepareQueueGroup(room)">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>
<!-- <ng-template #popContentInterview>
  <div class="text-center">
    <button *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw"
      (click)="interviewQueue(room)">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template> -->

<ng-template #popContentChangeRoom>
  <div class="text-center">
    <button (click)="doChangeRoom(room)" *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>

<app-modal-select-servicepoints (onSelected)="onSelectedPoint($event)" #mdlServicePoint>
</app-modal-select-servicepoints>

<app-modal-select-transfer #mdlSelectTransfer (onSelected)="onSelectedTransfer($event)"></app-modal-select-transfer>
<app-modal-select-room [rooms]="rooms" (onSelected)="onSelectRoom($event)" #mdlSelectRoom></app-modal-select-room>
