/*
 * Container style
 */

 html, body {
   font-size: 1.0rem;
 }

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

.navbar.default-layout-navbar .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #ffffff;
    /* width: 68px; */
    height: 70px;
}

.table th, .table td {
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 1;
}

.h3-x {
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 1;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    vertical-align: middle;
}

.auth form .auth-form-btn {
    height: 50px;
    line-height: 0.5;
    font-size: 1.5rem;
}

input[type="text"].form-control {
    border: 1px solid #ebedf2;
    font-size: 1.2rem;
}

select.form-control {
    border: 1px solid #ebedf2;
    font-size: 1.1rem;
}

.navbar.default-layout-navbar .navbar-brand-wrapper .navbar-brand {
    color: #27367f;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: .25rem 0;
    width: 72px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn {
  font-size: 1.2rem;
}


@-webkit-keyframes invalid-blink {
  from { background-color: #b71c1c; }
  to { background-color: #f05545; }
}
@-moz-keyframes invalid-blink {
  from { background-color: #b71c1c; }
  to { background-color: #f05545; }
}
@-o-keyframes invalid-blink {
  from { background-color: #b71c1c; }
  to { background-color: #f05545; }
}
@keyframes invalid-blink {
  from { background-color: #b71c1c; }
  to { background-color: #f05545; }
}
.invalid-blink {
  -webkit-animation: invalid-blink 1s infinite; /* Safari 4+ */
  -moz-animation:    invalid-blink 1s infinite; /* Fx 5+ */
  -o-animation:      invalid-blink 1s infinite; /* Opera 12+ */
  animation:         invalid-blink 1s infinite; /* IE 10+ */
  color: #ffffff;
}

.content-wrapper {
    background: #e9ebee;
    padding: 2.75rem 2.25rem;
    width: 100%;
    flex-grow: 1;
}

.form-check .form-check-label {
    display: block;
    margin-left: 1.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 5px 26px;
  }

  .backgroud-queue-white {
    background: white;
    margin-top: 10px;
  }
  
  .hide{
    display: none;
  }